<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- ..................footer Area................................ -->

    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-info">Resources</h5>

            <ul style="margin-top: 20px" class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Application</a>
              </li>
              <li>
                <a href="#!" class="text-white">Systems</a>
              </li>
              <li>
                <a href="#!" class="text-white">Documentation</a>
              </li>
              <li>
                <a href="#!" class="text-white">FAQ</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-info mb-0">pricing</h5>

            <ul style="margin-top: 20px" class="list-unstyled">
              <li>
                <a href="#!" class="text-white">Overview</a>
              </li>
              <li>
                <a href="#!" class="text-white">Primium-plans</a>
              </li>
              <li>
                <a href="#!" class="text-white">Affitiate-program</a>
              </li>
              <li>
                <a href="#!" class="text-white">Promotion</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-info">hostar</h5>

            <ul style="margin-top: 20px" class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">About-Us</a>
              </li>
              <li>
                <a href="#!" class="text-white">Blog</a>
              </li>
              <li>
                <a href="#!" class="text-white">PartnerShips</a>
              </li>
              <li>
                <a href="#!" class="text-white">Prees</a>
              </li>
              <li>
                <a href="#!" class="text-white">Info</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-info mb-0">social</h5>

            <ul style="margin-top: 20px" class="list-unstyled">
              <li>
                <a
                  href="https://www.facebook.com/DisneyPlusHotstar/"
                  class="text-white"
                  >Facebook</a
                >
              </li>
              <li>
                <a
                  href="https://twitter.com/DisneyPlusHS?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                  class="text-white"
                  >Twitter</a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/disneyplushotstar/?hl=en"
                  class="text-white"
                  >Instagram</a
                >
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/disney-hotstar"
                  class="text-white"
                  >Linkedin</a
                >
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <br />
      <dir class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a href="/">Hostar.com</a>
      </dir>
      <!-- Copyright -->
    </footer>
  </body>
</html>
