<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />

  </head>
  <body>
    <section class="message_area">
      <div class="message incomming">

      </div>
      <div class="message outgoing">

      </div>

    </section>
    <div>
      <textarea id="textarea" placeholder="Write Message"></textarea>
    </div>
    <script src="/socket.io/socket.io.js "></script>
    <script src="client.js"></script>

  </body>
</html>