<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      .btn { margin-left: 800px; } a { color: white; text-decoration: none; }
    </style>
  </head>
  <body>
    <div
      class="alert alert-success alert-dismissible d-flex align-items-center fade show"
    >
      <i class="bi-check-circle-fill"></i>
      <strong class="mx-2">Success!</strong>
      Your form has been sent successfully.
      <button id="backhome" class="btn btn-success"><a href="backhome">Click
          Back to Home</a></button>
    </div>
  </body>
</html>